$red: rgb(230, 57, 70);
$off-white: rgb(242, 250, 239);
$white: rgb(255, 255, 255);
$light-blue: rgb(168, 218, 220);
$medium-blue: rgb(69, 123, 157);
$dark-blue: rgb(29, 53, 87);
$review-gray: rgb(82, 76, 76);
